
<br/>
<div class="container">
  

<div class="row text-center">
  
<div class="col-md-12">
  <div class="card text-center">
    <div class="card-header">
      <h1>Datos covid-19 a nivel mundial</h1>
    </div>
    <div class="card-body">
      <div style="width:100%;">
        <canvas id="myChart" width="700" height="250" #mychart></canvas>
      </div>
    </div>
    <div class="card-footer text-muted">
      Los datos son actualizados diariamente
    </div>
  </div>
  <br/>
  <button class="btn btn-primary" (click)="mostrarCentroamerica()">Mostrar Datos de Centroamerica</button>
</div>

</div>




<br/>
<br/>
<app-centroamerica class="centroA" style="display: none;"></app-centroamerica>

</div>
