<table class="table">
    <thead>
        <tr>
            <th>Confirmados</th>
            <th>Fallecidos</th>
            <th>Recuperados</th>
            <th>Fecha</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">{{confirmados}}</td>
            <td>{{fallecidos}}</td>
            <td>{{recuperados}}</td>
            <td>{{fecha}}</td>
        </tr>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
