<div class="row text-center">
  
<div class="col-md-4">
  
<div class="card" id="belice">
  <div class="card-header">
    Belice
  </div>
  <div class="card-body">
    <div style="width:100%;" (click)="mostrarBelice()">
      <canvas id="myChart" width="700" height="600" #mychart></canvas>
    </div>
  </div>
  
  </div>
  <br/>
</div>

  <div class="col-md-4">
  <div class="card">
    <div class="card-header">
      Costa Rica
    </div>
  <div class="card-body">
      <div style="width:100%;" (click)="mostrarCostarica()">
        <canvas id="myChart1" width="700" height="600" #mychart1></canvas>
      </div>
    </div>
    
   </div>
   <br/>
  </div>

   <div class="col-md-4">
  <div class="card">
    <div class="card-header">
      El Salvador
    </div>
  <div class="card-body">
      <div style="width:100%;" (click)="mostrarElsalvador()">
        <canvas id="myChart2" width="700" height="600" #mychart2></canvas>
      </div>
    </div>
    
   </div>
   <br/>
  </div>

   <div class="col-md-4">
   <div class="card">
     <div class="card-header">
       Guatemala
     </div>
   <div class="card-body">
       <div style="width:100%;" (click)="mostrarGuatemala()">
         <canvas id="myChart3" width="700" height="600" #mychart3></canvas>
       </div>
     </div>
     
    </div>
    <br/>
  </div>

    <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Honduras
      </div>
    <div class="card-body">
        <div style="width:100%;" (click)="mostrarHonduras()">
          <canvas id="myChart4" width="700" height="600" #mychart4></canvas>
        </div>
      </div>
      
     </div>
     <br/>
    </div>

     <div class="col-md-4">
     <div class="card">
       <div class="card-header">
         Nicaragua
       </div>
     <div class="card-body">
         <div style="width:100%;" (click)="mostrarNicaragua()">
           <canvas id="myChart5" width="700" height="600" #mychart5></canvas>
         </div>
       </div>
       
      </div>
      <br/>
    </div>

      <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Panama
        </div>
      <div class="card-body">
          <div style="width:100%;" (click)="mostrarPanama()">
            <canvas id="myChart6" width="700" height="600" #mychart6></canvas>
          </div>
        </div>
        
       </div>
       <br/>
      </div>
  
</div>

 
 
